/* __V3D_TEMPLATE__ - template-based file; delete this line to prevent this file from being updated */

#v3d-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.buttonTop {
  position: absolute;
  top: 0px;
  left: 1000px;
}
.fullscreen-button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-size: 100% 100%;
  display: none;
  z-index: 1;
}
#Layer_1 {
  pointer-events: none;
}
.fullscreen-open {
  background-image: url("media/fullscreen_open.svg");
}

.fullscreen-close {
  background-image: url("media/fullscreen_close.svg");
}

/* removes tap blinking on ios devices */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#preloader_screen {
  width: 100%;
  height: 100vh;
  background: #e3edf7;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.skill {
  width: 160px;
  height: 160px;
  position: relative;
}

.outer {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.inner {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset 4px 4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

.outer,
.inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

#percentage {
  font-weight: 600;
  color: #555;
}

.preloader_circle {
  position: absolute;
  top: 0;
  left: 0;
}

#circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  transition: stroke-dashoffset 0.1s linear;
}

.buttons {
  width: 50px;
  height: 50px;

  background: #fff;
  border: 2px solid #0486c9;
  border-radius: 5px;
  box-shadow: 0px 10px 10px #000000ff;
  margin: 10px;
  transition: background 1s ease-in-out;
}

.containerColorPicker {
  width: 5%;
}

h4 {
  color: #fff;
  height: 10%;
}

.btnp {
  position: absolute;
  left: 5%;
  top: 0%;
  display: none;
}
.buttons svg {
  fill: #0486c9;
  transition: fill 1s ease-in-out;
}
.buttons img {
  width: 100%;
}

.active {
  background: #0486c9;
}
.active svg {
  fill: #fff;
}

.containerImage {
  max-width: 400px;
  margin: 0;
}

.BackGroundWhite {
  background-color: #353535cb;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0;
  text-align: center;
}

.stileIMG {
  background-color: #2726269d;
  position: absolute;
  border-color: #555;
  border: 2px solid #3f413f; /* Green */
  width: 24%;
  background: linear-gradient(
    to right bottom,
    rgb(29, 29, 29),
    rgb(59, 96, 126)
  );
  height: 100%;
}

.BackGroundWhitePDF {
  height: 100%;
  width: 120%;
  top: 0%;
}

.buttonClosePDF {
  position: absolute;
  right: 0%;
  top: 0%;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  background-color: "#2726269d";
  border-color: "#555";
  border: "2px solid #3f413f";
}
.buttonClosePDF:hover {
  /* opacity: 92%; */
  cursor: pointer;
}
.immgEsquina {
  cursor: pointer;
}

.minimpaFeria3D {
  position: relative;
  width: 400px;
  height: 400px;

  top: 0.5%;
  left: 0.5%;
  background-image: url(../mapa.jpg);
  background-repeat: no-repeat;
  background-origin: "center";

  background-size: cover;

  border: 2px solid white;
  border-radius: 20px;
  opacity: 0.8;
  /* display: none; */
}
@media screen and (max-width: 700px) {
  .minimpaFeria3D {
    position: relative;
    width: 300px;
    height: 300px;

    top: 0.5%;
    left: 0.5%;
    background-image: url(../mapa.jpg);
    background-repeat: no-repeat;
    background-origin: "center";

    background-size: cover;

    border: 2px solid white;
    border-radius: 20px;
    opacity: 0.8;
  }
}

.ButtonCss {
  cursor: "pointer";
  border-radius: 100%;
  border-color: #555;
  border: 2px solid #3f413f; /* Green */
}

.ButtonCss:hover {
  border: 2px solid #36acf0;
}

.img_positionMap {
  cursor: pointer;
}
.img_positionMap:hover {
  opacity: 0.8;
}

.borderText {
  position: absolute;
  left: 0%;
  top: 50%;
}

.buttonCloseCalendy {
  position: absolute;
  left: 78%;
  top: 2%;
  width: 45px;
  height: 45px;
}
.buttonCloseCalendy:hover {
  cursor: pointer;
}

/* .buttonCloseIMG {
  position: absolute;
  left: 85%;
  top: 5.5%;
  width: 6%;
  height: 6%;
  border-radius: "10%";
  background-color: "#2726269d";
  border-color: "#555";
  border: "2px solid #3f413f";
} */

.BG_xls {
  position: relative;
  left: 23%;
  top: 20%;
  width: 55%;
  height: 50%;

  background-color: #353535;
  opacity: 0.7;

  border: 3px solid #ffffff;
  border-radius: 10px;
}
li {
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 700px) {
  .BG_xls {
    position: relative;
    left: 4%;
    top: 25%;
    width: 92%;
    height: 40%;
    border-radius: "10%";
    background-color: #353535;
    opacity: 0.7;
    border-color: #008cff;
    border: 2px solid #ffffff;
    border-radius: 3%;
  }
  /* .closeIconStaff {
    cursor: pointer;
    left: 90%;
    top: 20%;
    width: 40px;
    width: 40px;
  } */
  .buttonClosexls {
    cursor: pointer;
    left: 90%;
    top: 20%;
    width: 45px;
    width: 45px;
  }

  /* .closeIconShoRoom {
    position:absolute;

    width: 45px;
    width: 45px;
  } */

  /* .buttonCloseIMG {
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10%;
    top: 5%;
  } */
}
.textoCargando {
  position: absolute;
  transform: translate(-50%, -50%);
  height: 94%;
  width: 97%;
  top: 50%;
  left: 50%;
  border-radius: 100px;
}
.iframeSR {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 98%;
  height: 96%;
  border-radius: 10px;
}
.buttonCloseSR {
  position: absolute;
  right: 0%;
  top: 0%;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  background-color: "#2726269d";
  border-color: "#555";
}
.buttonCloseSR:hover {
  cursor: pointer;
  /* opacity: 98%; */
}
/* .buttonClosexls {
  position: absolute;
  left: 66%;
  top: 23%;
  width: 6%;
  height: 6%;
  border-radius: "10%";
  background-color: "#2726269d";
  border-color: "#555";
  border: "2px solid #3f413f";
} */

.buttonCloseIShowRRoomm {
  position: absolute;
  left: 87%;
  top: 0%;
  width: 6%;
  height: 6%;
  border-radius: "10%";
  background-color: "#2726269d";
  border-color: "#555";
  border: "2px solid #3f413f";
}

.buttonCloseIframe {
  position: absolute;
  right: 0%;
  top: 0%;
  width: 45px;
  height: 45px;
  border-radius: "10%";
  background-color: "#2726269d";
  border-color: "#555";
  border: "2px solid #3f413f";
  display: none;
}
.buttonCloseIframe:hover {
  cursor: pointer;
}
.xlsx_img0 {
  position: absolute;
  left: 2%;
  top: 4%;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.buttonCalendy {
  left: 50%;
  top: 0%;
  width: 100%;
  height: 100%;
}
.borderButton {
  cursor: pointer;
  border-radius: 10%;
  background-color: rgb(255, 255, 255);
  border-color: #555;
  border: 2px solid #3f413f;
  width: 17%;
}
.borderButton:hover {
  /* filter: opacity(92%); */
  transform: scale(1.05);
}
.ButtonPosition_1 {
  cursor: "pointer";
  filter: drop-shadow(1px 2px 7px rgb(134, 134, 134));
  /* border-radius: 10%;
  border-color: #555;
  border: 2px solid #3f413f; */
  position: absolute;
  top: 15%;
  left: 7%;
}

.ButtonPosition_2 {
  filter: drop-shadow(1px 2px 7px rgb(134, 134, 134));
  cursor: "pointer";
  /* border-radius: 10%;
  border-color: #555;
  border: 2px solid #3f413f;  */
  position: absolute;
  top: 35%;
  left: 7%;
}
.ButtonPosition_3 {
  filter: drop-shadow(1px 2px 7px rgb(134, 134, 134));
  cursor: "pointer";
  /* border-radius: 10%;
  border-color: #555;
  border: 2px solid #3f413f;  */
  position: absolute;
  top: 55%;
  left: 7%;
}
.ButtonPosition_4 {
  filter: drop-shadow(1px 2px 7px rgb(134, 134, 134));
  cursor: "pointer";
  /* border-radius: 10%;
  border-color: #555;
  border: 2px solid #3f413f; */
  position: absolute;
  top: 75%;
  left: 7%;
}
.marginInside_gps1 {
  position: absolute;
  width: 12%;
  top: 15%;
  left: 84%;
}

.marginInside_gps2 {
  position: absolute;
  width: 12%;
  top: 30%;
  left: 63.5%;
}

.marginInside_gps3 {
  position: absolute;
  width: 12%;
  top: 40.5%;
  left: 63.5%;
}

.marginInside_gps4 {
  position: absolute;
  width: 12%;
  top: 57%;
  left: 63.5%;
}

.marginInside_gps5 {
  position: absolute;
  width: 11%;
  top: 73%;
  left: 56%;
}

.marginInside_gps6 {
  position: absolute;
  width: 12%;
  top: 81.1%;
  left: 44.5%;
}

.marginInside_gps7 {
  position: absolute;
  width: 12%;
  top: 81.6%;
  left: 31.8%;
}

.marginInside_gps8 {
  position: absolute;
  width: 12%;
  top: 76%;
  left: 5%;
}

.ButtonCssPlayer {
  pointer-events: none;
  border-radius: 100%;
  border: 2px solid #008cff; /* Green */
}

.h4 {
  text-align: center;
}
/* .BackGroundWhite {
  background-color: #353535cb;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0;
  text-align: center;
} */

.DownloadImag:hover svg {
  fill: #337ab7;
}

.DownloadImag svg {
  fill: rgb(255, 255, 255);
}

.description {
  position: absolute;

  top: 5%;
  left: 86.5%;
}

.BackGroundWhiteYoutube {
  background-color: #353535cb;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;

  /* 
  align-items: center;*/
  /* justify-content: center;  */
  /* text-align: center; */
}

.BackGroundIframe {
  position: absolute;
  transform: translate(-50%, -50%);
  height: 94%;
  width: 97%;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  border: 1px solid #d4d4d4;
  box-shadow: 0 10px 20px black;
}

.BackGroundWhiteTemporal {
  background-color: #353535cb;
  position: absolute;
  max-height: 100%;
  height: 100%;
  width: 100%;
  display: none;
  top: 0%;
  justify-content: center;
  align-items: center;
}

.BackGroundWhiteTemporalIframe {
  background-color: #353535cb;
  position: absolute;
  max-height: 100%;
  height: 100%;
  width: 100%;
  /* display: none; */
  top: 0%;
}

.iconoWatsap {
  cursor: pointer;
  position: absolute;
  left: 30%;
  height: 70px;

  width: 70px;
}

.colorTextPDF {
  position: absolute;
  left: 20%;
  top: 0%;
  color: #fff;
  text-align: left;
}

.pdfDrive {
  max-height: 99%;
  height: 100%;
  width: 55%;
}

.pdfDrive {
  max-height: 99%;
  height: 100%;
  width: 55%;
}
.Colorh3 {
  position: absolute;
  color: #fff;
  top: 40%;
  left: 30%;
}

.Colorh4 {
  position: absolute;
  color: #fff;
  top: 40%;
  left: 40%;
}

.urlYotutbe {
  border-radius: 1;
  border-color: #fff;
}

iframe,
object {
  height: 99%;
  width: 60%;
}

/* For pdf */
.react-pdf__Page {
  margin-top: 0%;
}
.react-pdf__Page__textContent {
  border: 1px solid darkgrey;
  box-shadow: 5px 5px 5px 1px #ccc;
  border-radius: 15px;
}

.react-pdf__Page__annotations.annotationLayer {
  padding: 0px;
}

.react-pdf__Page__canvas {
  margin: 0 auto;
}

/* For all pages */
.all-page-container {
  opacity: 1;
  height: 100%;
  max-height: 100%;

  overflow: auto;
}
